body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    max-width: 38rem;
    padding: 2rem;
}

/* .board-container { */
/*     display: flex; */
/*     flex-wrap: wrap; */
/*     justify-content: center; */
/*     align-items: center; */
/* } */

.board {
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    background-color: #c9e3cd;

    .space::before {
        content: "";
        z-index: -1;
        display: block;
        width: 100%;
        height: 30%;
        background-color: attr(data-color type(<color>));
    }

    .space {
        position: relative;

        display: block;

        aspect-ratio: 1;
        width: 100px;

        border: 1px solid black;
        text-align: center;
    }

    .cost::after {
        display: block;
    }        
    .cost:not([data-cost="0"])::after {
        content: "$"attr(data-cost);
    }

    .cost[data-earn="true"]::after {
        content: "You earn $" attr(data-cost);
    }
}

.selection-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
}

.player-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    min-height: 100px;
    min-width: 100px;
    background-color: coral;
}
