body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: 0;
    background-color: var(--main);
}

:root {
    --main: rgb(33, 33, 46)
}

.board-container {
    width: fit-content;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        bottom: 80%;
    }

    90% {
        visibility: visible;
        opacity: 1;
        bottom: 84%;
    }

    100% {
        bottom: 84%;
        opacity: 0;
    }
}

.alert {
    position: absolute;
    left: 31%;
    color: indianred;
    font-size: 2rem;
    animation: fadeIn 2.5s;
    visibility: hidden;
    max-width: 80%;
    margin: 0 10%;
    text-wrap: wrap;
    z-index: 1000;
}

#game {
    display: flex;
    justify-content: center;
}

.board {
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);

    background-color: #c9e3cd;
    background-image: url(https://static.seceurity.place/assets/monopoly/logo.png );
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;

    width: fit-content;

    .space::before {
        content: "";
        z-index: -1;
        display: block;
        width: 100%;
        height: 30%;
        background-color: attr(data-color type(<color>));
    }

    .space {
        position: relative;

        display: block;

        aspect-ratio: 1;
        width: 100px;

        border: 1px solid black;
        text-align: center;

        .pieces {
            bottom: 0;
            left: 0;
            position: absolute;

            font-weight: bold;
            display: flex;
        }
    }

    .cost::after {
        display: block;
    }

    .cost:not([data-cost="0"])::after {
        content: "$" attr(data-cost);
    }

    .cost[data-earn="true"]::after {
        content: "You earn $" attr(data-cost);
    }

    position: relative;
}

.button-container {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    gap: 0.5em;

    button {
        padding: 10px;
        border-radius: 15px;
        border: none;
        background-color: var(--main);
        color: white;
        cursor: pointer;
        --scale: 1;
        transform: scale(var(--scale));

        &:hover:not(:active):not([disabled]) {
            --scale: 1.1;
        }
    }
}

button[disabled] {
    cursor: not-allowed;
    background-color: hsl(from var(--main) h s 40%);
}

.selection-box {
    --fucking-blue: #007bff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;


    font-size: 3rem;

    width: 50%;
    min-width: 1000px;
    height: 50%;

    border: 1px solid black;
    box-shadow: 0px 0px 7px 1px;

    input,
    button {
        text-align: center;
        font: inherit;
    }

    input {
        caret-color: red;
        color: var(--fucking-blue);

        cursor: text;
    }

    button {
        background: var(--fucking-blue);
        cursor: pointer;
    }
}

.player-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    min-height: 100px;
    min-width: 100px;
    background-color: coral;
}
