body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.board-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.board {
  aspect-ratio: 1;
}
