@layer components {
    .player-card {
        background: attr(data-color type(<color>));
        padding: 1em;
        border-radius: 5px;

        text-align: center;

        > div {
            background: #0008;
        }
    }
}
